In [5]:
#importing libraries
import pandas as pd
import selenium 
from selenium import webdriver
import time
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException

#1 
Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [6]:
#importing chromedriver
driver=webdriver.Chrome("chromedriver.exe")

#getting Url
url="https://www.naukri.com/"
driver.get(url)
search_bar=driver.find_element_by_id("qsb-keyword-sugg")   #search bar
search_bar.send_keys("Data Analyst")  #writing on search bar
search_loc=driver.find_element_by_id("qsb-location-sugg") #finding job location bar
search_loc.send_keys("Banglore") # setting banglore location

#click on search button:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

time.sleep(4)
# Extracting Data
title=[]  #empty box
loc=[]   #empty box
cname=[] #empty box
experiance=[] #empty box

#titles
titles=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in titles:
    title.append(i.text)
title=title[:10]

# extracting location
l=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span')
for i in l:
    loc.append(i.text)
loc=loc[:10]

#extracting companies names
com=driver.find_elements_by_xpath('//div[@class="mt-7 companyInfo subheading lh16"]')
for i in com:
    cname.append(i.text)
cname=cname[:10]

# extracting experiance data
e=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in e:
    experiance.append(i.text)
experiance=experiance[:10]

driver.close()
#Making DataFrame
ans1=pd.DataFrame({})
ans1["Job_Title"]=title
ans1["Location"]=loc
ans1["Company_Name"]=cname
ans1["Experiance_Required"]=experiance
ans1

,Job_Title,Location,Company_Name,Experiance_Required
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Hiring Data Analysts For E commerce Platform |...,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.\n3.8\n(205 Re...,0-5 Yrs
2,Assistant Vice President - MIS & Reporting ( B...,"Mumbai, Bangalore/Bengaluru",INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,12-18 Yrs
3,Data Analyst,Bangalore/Bengaluru,Applied Materials\n4.1\n(94 Reviews),7-10 Yrs
4,Hiring For Data Analyst/ MIS Reporting Analyst...,Bangalore/Bengaluru,PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt L...,2-4 Yrs
5,DA - Urgent Opening For Data Analyst BFSI Doma...,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Tata Consultancy Services Ltd.\n4.0\n(21095 Re...,4-9 Yrs
6,Data Analyst - Informatica MDM,Bangalore/Bengaluru,Shell India Markets Private Limited\n4.1\n(623...,6-9 Yrs
7,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.\n4.2\n(742 Reviews),3-6 Yrs
8,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.\n4.2\n(742 Reviews),3-6 Yrs
9,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.\n4.2\n(742 Reviews),4-9 Yrs

# 2
Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you ge

In [7]:
#importing chrome drive
driver=webdriver.Chrome("chromedriver.exe")
#loading url
driver.get("https://www.naukri.com/")
time.sleep(3)

#loacating search bar
search_bar=driver.find_element_by_id("qsb-keyword-sugg")


#writing on search bar
search_bar.send_keys("Data Scientist")

#finding job location bar
search_loc=driver.find_element_by_id("qsb-location-sugg")


# setting banglore location
search_loc.send_keys("Banglore")

#click on search button:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()
time.sleep(3)

#getting url
url=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

urls=[]
for i in url:
    urls.append(i.get_attribute("href"))

#emptybox
titles=[]
loc=[]
cname=[]
des=[]

#extracting data
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
  
    #extractig jobtitles 
    try:
        job=driver.find_element_by_xpath('//h1[@class="jd-header-title"]')
        titles.append(job.text)
    except NoSuchElementException:
        titles.append("--")

    #extractig locations
    try:
        k=driver.find_element_by_xpath('//div[@class="loc"]')
        loc.append(k.text)
    except NoSuchElementException:
        loc.append("--")
   
   #extractig cname  
    try:
        l=driver.find_element_by_xpath("//a[@class='pad-rt-8']")
        cname.append(l.text)
    except NoSuchElementException:
        cname.append("--")

    #extracting Description
    try:
        z=driver.find_element_by_xpath('//div[@class="dang-inner-html"]')
        des.append(z.text)
    except NoSuchElementException:
        des.append("--")

driver.close()
#Making DataFrame
ans2=pd.DataFrame({})
ans2["Job_Title"]=titles
ans2["Location"]=loc
ans2["Company_Name"]=cname
ans2["Job_Description"]=des
ans2

,Job_Title,Location,Company_Name,Job_Description
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,Job Role : Data Scientist/Data Analyst /Busine...
1,"Senior Data Scientist, Modeling","Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...",Nielsen,"We wont say we can predict the future, but our..."
2,--,--,--,--
3,--,--,--,--
4,Senior Data Scientist - Credit risk,Bangalore/Bengaluru,Scienaptic Systems,Responsibilities and duties Focus on developin...
5,--,--,--,--
6,--,--,--,--
7,Lead Data Scientist,Bangalore/Bengaluru,Intel Technology India Pvt Ltd,We are seeking an outstanding Lead Data Scient...
8,Hiring For DATA Scientist - ON Contract Basis ...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",GlobalEdx Learning and Technology Solution Pvt...,"Dear Aspirant,\n\nGreetings from Globaledx\n\n..."
9,Senior Data Scientist - Chatbot & NLP,Bangalore/Bengaluru,Gojek Tech,"What You Will Do\nWork with Data Scientists, M..."

# 3
In this question you have to scrape data using the filters available on the webpage
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name, experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field .
Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [8]:
#loading webdriver
driver=webdriver.Chrome("chromedriver.exe")
#calling site
driver.get("https://www.naukri.com/")
#extraction preocess
search_bar=driver.find_element_by_id("qsb-keyword-sugg") #search bar
search_bar.clear()  #clearing search bar
search_bar.send_keys("Data Scientist")   #inserting "Data science" in search bar
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click() #clicking on search button
time.sleep(4)
driver.find_element_by_xpath('//*[@title="Delhi / NCR"]').click()   #setting location filter delhi
time.sleep(4)
driver.find_element_by_xpath('//*[@title="3-6 Lakhs"]').click()   #setting salary
time.sleep(4)
#extracting the required data
titles=[] #empty list for job_title
loc=[] #empty list for location
cname=[] #empty list for company name
expr=[] #empty list for experiance_requires


#job_title
title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in title:
    titles.append(i.text)
titles=titles[:10]

#location
location=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location:
    loc.append(i.text)
loc=loc[:10]

#company_name
cn=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in cn:
    cname.append(i.text)
cname=cname[:10]

#experiance_required
exr=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exr:
    expr.append(i.text)
expr=expr[:10]

driver.close()
#Making DataFrame
ans3=pd.DataFrame({})
ans3["Job_Title"]=titles
ans3["Location"]=loc
ans3["Company_Name"]=cname
ans3["Experiance_required"]=expr
ans3

,Job_Title,Location,Company_Name,Experiance_required
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Data Scientist - High growth VC backed Influen...,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Ravgins International Pvt. Ltd.,3-5 Yrs
2,Excellent opportunity For Data Scientist,"Noida, Bangalore/Bengaluru",NEC CORPORATION INDIA PRIVATE LIMITED,3-7 Yrs
3,Data Scientist,"New Delhi, Gurgaon/Gurugram, Delhi / NCR",Mobikwik,3-5 Yrs
4,DATA Scientist – Gurgaon (Exp 3-6 years),"Gurgaon/Gurugram, Delhi / NCR",CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6 Yrs
5,DATA Scientist – Gurgaon (Exp 3-6 years),"Gurgaon/Gurugram, Delhi / NCR",CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6 Yrs
6,Data Scientist - Noida,Noida,Optum Global Solutions (India) Private Limited,3-5 Yrs
7,Data Scientist - Noida/ B'lore,"Noida, Bangalore/Bengaluru",NEC CORPORATION INDIA PRIVATE LIMITED,3-8 Yrs
8,Data Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,4-9 Yrs
9,Data Scientist,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Cloudstrats Technologies Private Limited,5-8 Yrs

# 4 
Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.
3. Then click the search button. 
4. Then scrape the data for the first 10 jobs results you get in the above shown page.
Finally create a dataframe of the scraped data.

In [9]:
#importing chromedriver
driver=webdriver.Chrome("chromedriver.exe")

#getting Url
url="https://www.glassdoor.co.in/Job/index.htm"
driver.get(url)
search_bar=driver.find_element_by_id("KeywordSearch")   #search bar
search_bar.send_keys("Data Scientist")  #writing on search bar
search_loc=driver.find_element_by_id("LocationSearch") #finding job location bar
search_loc.send_keys("Noida") # setting Noida location

#click on search button:
search_btn=driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_btn.click()

time.sleep(4)
# Extracting Data
cname=[]  #empty box
postd=[]   #empty box
rating=[] #empty box

#Company name
titles=driver.find_elements_by_xpath('//div[@class="d-flex justify-content-between align-items-start"]/a')
for i in titles:
    cname.append(i.text)
cname=cname[:10]

# extracting rating
r=driver.find_elements_by_xpath('//span[@class="css-19pjha7 e1cjmv6j1"]')
for i in r:
    rating.append(i.text)
rating=rating[:10]

#extracting no.of day before posted
com=driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]')
for i in com:
    postd.append(i.text)
postd=postd[:10]

driver.close()
#Making DataFrame
ans4=pd.DataFrame({})
ans4["company_name"]=cname
ans4["Rating"]=rating
ans4["Posted"]=postd
ans4

                   company_name Rating Posted
0                      Ericsson    4.1    12d
1                       CRMNEXT    3.6    10d
2                Biz2Credit Inc    3.8   30d+
3                      Techlive    5.0   30d+
4  Salasar New Age Technologies    3.6   30d+
5            Apsidata Solutions    3.8     2d
6                       CRMNEXT    4.1    10d
7        Data Trained Education    4.4    24h
8  Salasar New Age Technologies    3.8   30d+
9                       WishFin    3.6   30d+

# 5 
Write a python program to scrape the salary data for Data Scientist designation in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4.Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company.
5..Store the data in a dataframe.

In [10]:
#importing chromedriver
driver=webdriver.Chrome("chromedriver.exe")

#getting Url
url="https://www.glassdoor.co.in/Salaries/index.htm"
driver.get(url)
search_bar=driver.find_element_by_id("KeywordSearch")   #search bar
search_bar.send_keys("Data Scientist")  #writing on search bar
search_loc=driver.find_element_by_id("LocationSearch") #finding job location bar
search_loc.send_keys("Noida") # setting Noida location

#click on search button:
search_btn=driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_btn.click()

time.sleep(6)
# Extracting Data
cname=[]  #empty box
nsalaries=[]   #empty box
avgsalaries=[] #empty box
minmaxsalary=[] #empty box

#Company name
titles=driver.find_elements_by_xpath('//p[@class="m-0 "]')
for i in titles:
    cname.append(i.text)
cname=cname[:10]

# extracting number of salaries
n=driver.find_elements_by_xpath('//p[@class="css-1uyte9r css-1kuy7z7 m-0 "]')
for i in n:
    nsalaries.append(i.text)
nsalaries=nsalaries[:10]

#extracting average salaries
a=driver.find_elements_by_xpath('//div[@class="col-2 d-none d-md-flex flex-row justify-content-end"]')
for i in a:
    avgsalaries.append(i.text.replace("\n",""))
avgsalaries=avgsalaries[:10]

# extracting minimum salaries
mi=driver.find_elements_by_xpath('//div[@class="common__RangeBarStyle__values d-flex justify-content-between "]')
for i in mi:
    minmaxsalary.append(i.text)
minmaxsalary=minmaxsalary[:10]
#seprating minimum and maximum salary
l =minmaxsalary
split_list =[i.split() for i in l]
flat_list = [item for sublist in split_list for item in sublist]
minsalary=flat_list[::2]
maxsalary=flat_list[1::2]

driver.close()
#Making DataFrame
ans5=pd.DataFrame({})
ans5["Company"]=cname
ans5["No. of salaries"]=nsalaries
ans5["Avg salaries"]=avgsalaries
ans5["Minimum salaries"]=minsalary
ans5["Maxmium salaries"]=maxsalary
ans5

,Company,No. of salaries,Avg salaries,Minimum salaries,Maxmium salaries
0,Tata Consultancy Services,16 salaries,"₹ 6,11,228/yr",₹343K,"₹1,095K"
1,Accenture,14 salaries,"₹ 11,46,533/yr",₹577K,"₹2,213K"
2,IBM,14 salaries,"₹ 8,97,795/yr",₹586K,"₹2,730K"
3,Ericsson-Worldwide,14 salaries,"₹ 7,38,057/yr",₹355K,"₹1,613K"
4,Delhivery,14 salaries,"₹ 12,39,781/yr",₹450K,"₹11,622K"
5,UnitedHealth Group,11 salaries,"₹ 13,36,142/yr","₹1,069K","₹1,520K"
6,Valiance Solutions,9 salaries,"₹ 8,15,192/yr",₹502K,"₹1,465K"
7,ZS Associates,8 salaries,"₹ 11,35,221/yr",₹202K,"₹1,809K"
8,EXL Service,8 salaries,"₹ 11,44,243/yr",₹575K,"₹1,520K"
9,Optum Global Solutions,8 salaries,"₹ 14,13,288/yr","₹1,014K","₹2,149K"

# 6
Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %
To scrape the data you have to go through following steps:
1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it
5.Now scrape data from this page as usual
6. repeat this until you get data for 100 sunglasses.

In [11]:
#importing chromedriver
driver=webdriver.Chrome("chromedriver.exe")

#getting Url
url="https://www.flipkart.com/"
driver.get(url)
driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()
time.sleep(2)
search_bar=driver.find_element_by_xpath('//*[@title="Search for products, brands and more"]')   #search bar
search_bar.click()
search_bar.send_keys("sunglasses")  #writing on search bar

#click on search button:
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

time.sleep(4)
# Extracting Data
brand=[]  #empty box
pdes=[]   #empty box
price=[] #empty box
discount=[] #empty box

for i in range(0,3):   #chossing top 3 pages
    for j in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):   #brand
        brand.append(j.text)
    for l in driver.find_elements_by_xpath('//a[@class="IRpwTa"]'):      #description
        pdes.append(l.text)

    for c in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):   #price
        price.append(c.text)

    for e in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]'):   #discount
        discount.append(e.text)
    driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()      #next page
    time.sleep(5)

#selecting top 100 
brand=brand[:100]
pdes=pdes[:100]
price=price[:100]
discount=discount[:100]

driver.close()
#Making DataFrame
ans6=pd.DataFrame({})
ans6["Brand"]=brand
ans6["Product_description"]=pdes
ans6["Price"]=price
ans6["Discount"]=discount
ans6

,Brand,Product_description,Price,Discount
0,AISLIN,"UV Protection, Gradient Round, Shield Sunglass...",₹395,77% off
1,NuVew,"UV Protection Retro Square, Wayfarer Sunglasse...",₹314,70% off
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹630,21% off
3,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹621,22% off
4,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
...,...,...,...,...
95,Singco India,UV Protection Aviator Sunglasses (57),₹339,71% off
96,DEIXELS,UV Protection Wayfarer Sunglasses (Free Size),₹189,76% off
97,GANSTA,UV Protection Cat-eye Sunglasses (60),₹281,85% off
98,Fastrack,Others Retro Square Sunglasses (Free Size),₹838,6% off
99,NuVew,"UV Protection, Mirrored Retro Square Sunglasse...",₹419,71% off

# 7
Scrape 100 reviews data from flipkart.com for iphone11 phone. 
You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.
As shown in the above page you have to scrape the tick marked attributes.
These are
1. Rating
2. Review_summary
3. Full review
You have to scrape this data for first 100 reviews.

In [12]:
#importing chromedriver
driver=webdriver.Chrome("chromedriver.exe")

#getting Url
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"
driver.get(url)
driver.find_element_by_xpath('//div[@class="_3UAT2v _16PBlm"]').click()
time.sleep(2)

# Extracting Data
rating=[]  #empty box
rsum=[]   #empty box
fsum=[] #empty box


for i in range(0,11):   #chossing top 3 pages
    for j in driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]'):   #Rating
        rating.append(j.text)
    for l in driver.find_elements_by_xpath('//p[@class="_2-N8zT"]'):      #Review_summary
        rsum.append(l.text)
    for c in driver.find_elements_by_xpath('//div[@class="t-ZTKy"]'):   #Detail_summary
        fsum.append(c.text)
    driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()      #next page
    time.sleep(5)


driver.close()
#selecting top 100 
rating=rating[:100]
rsum=rsum[:100]
fsum=fsum[:100]

#Making DataFrame
ans7=pd.DataFrame({})
ans7["Rating"]=rating
ans7["Review_summaru"]=rsum
ans7["Detail_summary"]=fsum
ans7

,Rating,Review_summaru,Detail_summary
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,4,Good choice,So far it’s been an AMAZING experience coming ...
...,...,...,...
95,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
96,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
97,5,Fabulous!,This is my first iOS phone. I am very happy wi...
98,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
99,5,Wonderful,*Review after 10 months of usage*\nDoesn't see...

# 8
Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [13]:
#importing chromedriver
driver=webdriver.Chrome("chromedriver.exe")

#getting Url
url="https://www.flipkart.com/"
driver.get(url)
driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()
time.sleep(2)
search_bar=driver.find_element_by_xpath('//*[@title="Search for products, brands and more"]')   #search bar
search_bar.click()
search_bar.send_keys("sneakers")  #writing on search bar

#click on search button:
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

time.sleep(4)
# Extracting Data
brand=[]  #empty box
pdes=[]   #empty box
price=[] #empty box
discount=[] #empty box

for i in range(0,4):   #chossing top 4 pages
    for j in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):   #brand
        brand.append(j.text)
    for l in driver.find_elements_by_xpath('//a[@class="IRpwTa"]'):      #description
        pdes.append(l.text)

    for c in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):   #price
        price.append(c.text)

    for e in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]'):   #discount
        discount.append(e.text)
    driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()      #next page
    time.sleep(5)

#selecting top 100 
brand=brand[:100]
pdes=pdes[:100]
price=price[:100]
discount=discount[:100]

driver.close()
#Making DataFrame
ans8=pd.DataFrame({})
ans8["Brand"]=brand
ans8["Product_description"]=pdes
ans8["Price"]=price
ans8["Discount"]=discount
ans8

,Brand,Product_description,Price,Discount
0,Deals4you,Sneakers For Men,₹449,55% off
1,Skymate,Casual Sneakers Shoes For Men Sneakers For Men,₹224,55% off
2,Robbie jones,Sneakers For Men,₹399,60% off
3,Robbie jones,Sneakers For Men,₹474,52% off
4,aadi,Sneakers For Men,₹298,70% off
...,...,...,...,...
95,Stefano Rads,Sneakers Sneakers For Men,₹242,57% off
96,Birde,Exclusive Sneaker For Men,₹842,57% off
97,Robbie jones,Sneakers For Men,₹428,51% off
98,World Wear Footwear,Latest Stylish Casual sneakers for men | Lace ...,₹240,54% off
99,ASTEROID,Sneakers for men(black_6) Sneakers For Men,₹451,60% off

# 9
Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”,
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

In [14]:
#importing chromedriver
driver=webdriver.Chrome("chromedriver.exe")

#getting Url
url="https://www.myntra.com/shoes"
driver.get(url)
time.sleep(4)
driver.find_element_by_xpath("//label[@class='common-customCheckbox']").click()        
time.sleep(2)
driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label").click()

        


time.sleep(4)
# Extracting Data
brand=[]  #empty box
sdes=[]   #empty box
price=[] #empty box


for i in range(0,3):   #chossing top 4 pages
    for j in driver.find_elements_by_xpath('//h3[@class="product-brand"]'):   #brand
        brand.append(j.text)
    for l in driver.find_elements_by_xpath('//h4[@class="product-product"]'):      #description
        sdes.append(l.text)

    for c in driver.find_elements_by_xpath('//div[@class="product-price"]'):   #price
        price.append(c.text)

   
    driver.find_element_by_xpath('//li[@class="pagination-next"]').click()      #next page
    time.sleep(3)

#selecting top 100 
brand=brand[:100]
sdes=sdes[:100]
price=price[:100]

driver.close()
#Making DataFrame
ans9=pd.DataFrame({})
ans9["Brand"]=brand
ans9["Product_description"]=sdes
ans9["Price"]=price

ans9

,Brand,Product_description,Price
0,Skechers,Men VIPER COMPETITOR Training,Rs. 6999
1,Nike,Men JOYRIDE Running Shoes,Rs. 10496Rs. 14995(30% OFF)
2,Nike,AIR ZOOM PEGASUS Running Shoes,Rs. 11495
3,PUMA Motorsport,Unisex Mercedes Running Shoes,Rs. 7999
4,Puma,Men Liberate Nitro Running,Rs. 9999
...,...,...,...
95,Reebok,Unisex Zig Kinetica II Running,Rs. 9999
96,Saint G,Leather Heeled Boots,Rs. 11800
97,FILA,Women Solid Sneakers,Rs. 6999
98,Kenneth Cole,Women Solid Flat Boots,Rs. 9513Rs. 13590(30% OFF)
99,ADIDAS,Men Supernova Running Shoes,Rs. 7999Rs. 9999(20% OFF)

# 10
Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” 
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes.

In [15]:
#importing chrome drive
driver=webdriver.Chrome("chromedriver.exe")
#loading url
driver.get("https://www.amazon.in/")
time.sleep(3)

#loacating search bar
search_bar=driver.find_element_by_id("twotabsearchtextbox")


#writing on search bar
search_bar.send_keys("Laptops")

#click on search button:
search_btn=driver.find_element_by_id("nav-search-submit-button")
search_btn.click()
time.sleep(3)

#i7 filter
filter_bi7=driver.find_elements_by_xpath("//span[@class='a-size-base a-color-base']")
for i in filter_bi7:
    if i.text=="Intel Core i7":
        i.click()
        break




#getting url
url=driver.find_elements_by_xpath('//a[@class="a-link-normal a-text-normal"]')

urls=[]
for i in url:
    urls.append(i.get_attribute("href"))

#emptybox
titles=[]
rating=[]
price=[]

#extracting data
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
  
    #extractig titles 
    try:
        t=driver.find_element_by_xpath('//span[@class="a-size-large product-title-word-break"]')
        titles.append(t.text)
    except NoSuchElementException:
        titles.append("--")

    #extractig rating
    try:
        k=driver.find_element_by_xpath('//span[@class="a-size-medium a-color-base"]')
        rating.append(k.text)
    except NoSuchElementException:
        rating.append("--")
   
   #extractig price 
    try:
        l=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-price priceBlockBuyingPriceString']")
        price.append(l.text)
    except NoSuchElementException:
        price.append("--")
driver.close()
  

#Making DataFrame
ans10=pd.DataFrame({})
ans10["Job_Title"]=titles
ans10["Rating"]=rating
ans10["Price"]=price

ans10

,Job_Title,Rating,Price
0,(Renewed) Lenovo T430 14-inch Laptop (Core i7/...,--,"₹ 53,499.00"
1,Lenovo Ideapad 720s Intel Core i7 8th Gen 13.3...,3.1 out of 5,"₹ 89,990.00"
2,(Renewed) Dell Intel 6th Gen Core i7-6820HQ 15...,5 out of 5,"₹ 78,699.00"
3,(Renewed) Dell E7250 Latitude 12.5 Inches Lapt...,3.4 out of 5,"₹ 54,499.00"
4,(Renewed) Dell Intel 6th Gen Core i7-6820HQ 15...,--,"₹ 61,799.00"
5,(Renewed) Dell Latitude E6420 14 Inch Laptop (...,--,"₹ 43,000.00"
6,(Renewed) Dell Latitude E6540 Laptop (CORE I7 ...,--,"₹ 33,390.00"
7,(Renewed) Dell Latitude E7470 14-inch Laptop (...,--,"₹ 65,299.00"
8,(Renewed) Dell Intel 6th Gen Core i7 6600U 12....,--,"₹ 51,768.00"
9,(Renewed) Lenovo Intel Core i7 5600U 12.5-Inch...,3.2 out of 5,--